<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"
      ><img src="assets/images/logo.png" class="nav-brand-img"
    /></a>
    <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
      <li class="nav-item" *ngFor="let nav of navlinks">
        <a class="nav-link" href="#">{{ nav.name }}</a>
      </li>
    </ul>
  </div>
</nav>
